/* Generic style */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 2rem;
}

.btn {
    color: white;
    background-color: rgb(0, 97, 255) ;
    padding: 5px;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2.5rem;
}
h4 {
    font-size: 1.4rem;
}

h5 {
    font-size: 1.2rem;
    padding: 1rem 0;
}
.wrap {
    flex-wrap: wrap;
}

/* Header section */
header {
    background-color: lightskyblue;
}

.flex-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    gap: 2rem;
}
/* Nav */
nav {
    background-color: white;
    min-height: 5rem;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.logo {
    position: relative;
    top: 3px;
}
.link-nav {
    text-decoration: none;
    color: black;
    padding: 1.5rem 0;
}

.link-nav:hover {
    border-bottom: 3px solid black;
}

.flex-column {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    gap: 2rem;
}
/* Jumbotron */

#jumbotron {
    margin: 0 auto;
    padding-top: 6rem;
    padding-bottom: 2rem;
    width: 70%;
}

.m-bottom {
    margin-bottom: 1rem;
}

.m-top {
    margin-top: 2rem;
}
.jumbo-flex {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.pad-bot-2 {
    padding-bottom: 2 rem;
}

.jumbo-text {
    width: 30%;
    position:relative;
    top: 3rem
}
.jumbo-img {
    width: 70%;
}

.jumbo-png {
    width: 100%;
    position: relative;
    top: 4rem;
}

.fa-arrow-down {
    padding-top: 1rem;
    font-size: 3rem;
    color: black;
    text-decoration: none;
}
/* Main */
main {
    padding: 6rem 0;
}

/* Card Sub */
.flex-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin: 0 auto;
    width: 60%;
}

.box {
    margin: 0 auto;
    width:60%;
}

#sub-year {
    margin-left: 3rem;
}

.card-sub {
    width: 30%;
    min-height: 55rem;
    margin: 1rem 0;
    border: 2px solid black;
}

.margined {
    margin: 0 auto;
    width: 85%;
    padding: 0.5rem 0;
}

.bordered {
    border-bottom: 1px solid black;
    text-align: center;
    width: 100%;
}

.price {
    font-weight: bold;
}

.grey {
    color: grey;
}

.pad-card {
    padding: 0.3rem 0;
}

.pad-card1{
    margin-top: 3.6rem;
}


.li-card {
    list-style: none;
}

.w-20 {
    width: 20%;
}

.fa-check {
    color: rgb(0, 97, 255);
}
.center-cont {
    margin: 0 auto;
    width: 60%;
    border: 2px solid black;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}

.margin-box {
    margin: 2rem;
    width: 70%;
}

/* Partner box */
.flex-partner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 60%;
    padding: 4rem 0;
}


.photo-box {
    width: 50%;
    min-height: 15rem;
}

.png-partner {
    width: 100%;
}

.text-box {
    width: 45%;
    min-height: 15rem;
}

.card-business {
    width: calc(97% / 3);
    min-height: 20rem;
    background-color: blue;
    margin: 1rem 0;
}

.logo-flex {
    display: flex;
    margin-top: 2rem;

}

.logo-card {
    width: calc(100% / 3);
    min-height: 30rem;
    background-color: green;
}


.background {
    background-color: lightskyblue;
}
.big-box {
    display: flex;
    justify-content: space-between;
    color: brown;
    background-color: lightskyblue;
    min-height: 15rem;
    align-content: center;
    align-items: center;
    margin: 0 auto;
    width: 40%;
}

.title-box {
    width: 50%;
}

.particular-btn {
    color: black;
    background-color: white;
    padding: 5px;
}

.faq-box {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 40%;
}

.faq-column {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    min-height: 4rem;
    background-color: aqua
}

/* Footer */
footer {
    background-color: black;
    color: white;
    margin-top: 3rem;
    min-height: 20rem;
}

.footer-flex {
    display: flex;
    margin: 0 auto;
    width: 70%;
}

.footer-column {
    background-color: blue;
    border: 2px solid white;
    width: calc(100% / 5);
    min-height: 10rem;
    padding: 2rem 0;
}

.language {
    border-top: 2px solid white;
    background-color: yellow;
    padding: 2rem 0;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    width: 70%;
}

.width {
    width: calc(100% / 5);
}